__pycache__
VOCdevkit
checkpoints
.vscode
*.pyc
__pycache__
results
checkpoints_bak
cityscapes
.idea/DeepLabV3Plus-Pytorch.iml
.idea/deployment.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
